[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
dominate = "*"
"plotly.express" = "*"
plotly = "*"
xlsxwriter = "*"
weasyprint = "*"
pypdf2 = "*"
kaleido = "*"

[dev-packages]

[requires]
python_version = "3.11"
